.idea/
client/.nuxt/
client/coverage/
client/node_modules/
client/static/storage
cliet/.output
server/venv/
venv/
__pycache__/
.env
client/.env
server/.env
server/storage/**
!server/storage/readme.md
client/yarn.lock
client/static/sw.js
client/dist
