.idea/
client/.nuxt/
client/coverage/
client/node_modules/
client/static/storage
client/.output
client/static/sw.js
client/dist
client/.env
__pycache__/
server/.env
server/storage/**
!server/storage/readme.md
