<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>
<p>Здравствуйте, уважаемые участники конференции ИММВ-2021!</p>
<p></p>
<p>По результатам работы конференции были сформированы электронные сборники трудов в двух томах, которые размещены в
  архиве по ссылке: <a href="https://disk.yandex.ru/d/xzhyXCQoYWJL0Q">https://disk.yandex.ru/d/xzhyXCQoYWJL0Q</a>. В
  ближайшее время статьи будут индексироваться РИНЦ.</p>
<p></p>
<p></p>
<p>С уважением, Оргкомитет ИММВ-2021.</p>
</body>
</html>