# Модуль {{ module.name }}
{{ module.docstring }}
# Функции
{% if module_function %}
| signature | Decorator  | Docstring |
|:----------|:-----------|:----------|{% for function in module_function %}
|{{ function.name }}{{ function.signature }}|{{ function.decorators }}|{{ function.docstring }}|{% endfor %}
{% endif %}
{% if module_class %}
{% for class in module_class %}
# Класс {{ class.name }}
{{ class.docstring }}
{% if class.methods %}
## Методы
| signature | Decorator       | Docstring        |
|:----------|:----------------|:-----------------|{% for method in class.methods %}
|{{ method.name }}{{ method.signature }}|{{ method.decorators }}|{{ method.docstring }}|{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
