// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

.page_title {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0;
}
